@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Plus Jakarta Sans", sans-serif;
}

/* ========================================== HEADER =========================================== */

.header {
   width: 100%;
   position: relative;
   overflow: hidden;
}

.overlay {
   position: absolute;
   inset: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 1;
}

.header-content {
   position: relative;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px 38px;
}

.header-content img {
   max-width: 155px;
   cursor: pointer;
}

.nav-links {
   display: flex;
   align-items: center;
   gap: 22px;
}

.nav-links a {
   text-decoration: none;
   color: white;
   font-size: 16px;
   font-weight: 300;
   display: flex;
   align-items: center;
   gap: 6px;
   transition: 0.3s;
}

.nav-links a:hover {
   color: #2282C6;
}

.nav-links a.active {
   color: #2282C6;
   font-weight: 500;
}

.dropdown-link {
   display: flex;
   align-items: center;
   gap: 5px;
}

.arrow {
   font-size: 20px;
}

.dropdown-link:hover {
   color: #2282C6;
}

.header-btn {
   border: none;
   border-radius: 5px;
   background-color: #2282C6;
   padding: 12px 28px;
   color: white;
   font-size: 16px;
   font-weight: 600;
   display: flex;
   align-items: center;
   gap: 8px;
   transition: 0.2s ease;
}

.header-btn:hover {
   background-color: #ffffff;
   color: black;
   transform: translateY(-7px);
}

.nav-separator {
   width: 100%;
   height: 1px;
   background: rgba(255, 255, 255, 0.2);
   position: relative;
   z-index: 2;
}

.nav-triangle {
   position: absolute;
   top: 140px;
   right: 0;
   width: 80%;
   height: 110vh;
   background: #2282C6;
   clip-path: polygon(100% 0, 100% 100%, 0 100%);
   z-index: 1;
}

.hero-section {
   position: relative;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px 37px;
}

.hero-text {
   width: 50%;
   color: white;
}

.hero-text h1 {
   font-size: 44px;
   font-weight: 700;
   margin-bottom: 20px;
}

.hero-text p {
   font-size: 20px;
   font-weight: 400;
   line-height: 1.6;
   margin-bottom: 20px;
   max-width: 700px;
}

.hero-text p span{
   background-color: black;
   color:#2282C6;
}

.hero-buttons {
   display: flex;
   gap: 20px;
}

.primary-btn {
   background: #2282C6;
   color: white;
   border: none;
   padding: 20px 50px;
   border-radius: 5px;
   font-weight: 600;
   font-size: 15px;
   cursor: pointer;
}

.secondary-btn {
   background: white;
   border: none;
   color: #383838;
   padding: 20px 50px;
   border-radius: 5px;
   font-weight: 600;
   font-size: 15px;
   cursor: pointer;
}

.hero-image {
   width: 50%;
   display: flex;
   justify-content: center;
}

.hero-image img {
   max-width: 100%;
   height: auto;
}
/* ========================================== HOME =========================================== */